<!--      <md-radio-group ng-model="tipo" ng-change="callChangeTipoPrueba()">

            <md-radio-button value="carrera" class="md-primary"> Carrera </md-radio-button>
            <md-radio-button value="concurso"> Concurso </md-radio-button>

      </md-radio-group>	-->	

     <md-radio-group ng-model="$ctrl.tipo" ng-change="$ctrl.changeTipoPrueba()()">

            <md-radio-button value="carrera" class="md-primary" style="display:block"> Carrera </md-radio-button>
            <md-radio-button value="concurso"> Concurso </md-radio-button>

      </md-radio-group>	