<div id="calculoContainer" ng-controller="calculoController as ctrl" style="margin: 1rem auto auto auto; border: 1px solid rgba(0,0,0,0.12); width: 25rem; height: 31rem; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);">

    <h1>{{ctrl.saludo}}</h1>
    <form name="gestorMarcaForm">
        <div style="width: auto; margin-top: 1rem; margin-left: 2.5rem;">
            <div layout="row">
                <div flex>
                    <sexo-atleta sexo="ctrl.model.sexo"></sexo-atleta>
                </div>
                <div flex>
                    <edad-atleta edad="ctrl.model.edad" style="width: 3rem"></edad-atleta>
                </div>
            </div>

            <div layout="row">
                <div flex>
                    <md-radio-group ng-model="ctrl.model.tipoPrueba">

                        <md-radio-button value="carrera"> Carrera </md-radio-button>
                        <md-radio-button value="concurso"> Concurso </md-radio-button>

                    </md-radio-group>
                </div>
                <div flex>
                    <md-input-container>
                        <label>Prueba</label>
                        <md-select ng-model="ctrl.model.prueba">
                            <md-option ng-repeat="prueba in ctrl.model.pruebas | tipoPruebaFilter : ctrl.model.tipoPrueba" ng-value="prueba.value">
                                {{prueba.nombre}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <div flex>
                    <marca-atleta marca="ctrl.model.marca"></marca-atleta>
                </div>
                <div flex>
                    <md-input-container class="md-block">
                        <label>Mejor Marca</label>
                        <input name="mejorMarca" ng-model="ctrl.model.mejorMarca" placeholder="Mejor marca" disabled>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <div flex>
                </div>
                <div flex>
                    <md-input-container class="md-block">
                        <label>Porcentaje marca</label>
                        <input name="porcentajeMarca" ng-model="ctrl.model.porcentajeMarca" placeholder="Porcentaje marca" disabled>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" style="text-align: center;">
                <div flex>
                    <md-button class="md-raised md-primary" ng-click="ctrl.getMejorMarca();">
                        Obtener mejor marca
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</div>