<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
	<link rel="stylesheet" href="./node_modules/angular-material/angular-material.css"/>
    <script data-main="scripts/config" src="node_modules/requirejs/require.js"></script>
</head>

<body>

	<div id="contenedor" ng-controller="appController as ctrl" class="md-inline-form">

		<form name="gestorMarcaForm">
			<div layout-gt-xs="row">
				<sexo-atleta sexo="ctrl.model.sexo"></sexo-atleta> <hr />
				<edad-atleta-bind edad="ctrl.model.edad"></edad-atleta-bind> 
			</div>
		</form>

	</div>

</body>
</html>



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
	<link rel="stylesheet" href="./node_modules/angular-material/angular-material.css"/>
    <script data-main="scripts/config" src="node_modules/requirejs/require.js"></script>
</head>

<body>

	<div id="contenedor" ng-controller="appController as ctrl">
		<h1>{{ctrl.name}}</h1>
		<div>
			<span><strong>scope sexo:</strong> {{ctrl.model.sexo}}</span>
			<span><strong>scope edad:</strong> {{ctrl.model.edad}}</span>
			<span><strong>scope tipo-prueba:</strong> {{ctrl.model.tipoPrueba}}</span>
			<span><strong>scope prueba:</strong> {{ctrl.model.prueba}}</span>
			<span><strong>scope marca:</strong> {{ctrl.model.marca}}</span>
		</div>
		</br>
		<sexo-atleta sexo="ctrl.model.sexo"></sexo-atleta>	
		
		<edad-atleta-bind edad="ctrl.model.edad"></edad-atleta-bind>    

		<tipo-prueba change="ctrl.changeTipoPrueba" tipo="ctrl.model.tipoPrueba"></tipo-prueba>

		<select-prueba prueba="ctrl.model.prueba" lista="ctrl.lista"></select-prueba>
			
		<marca-atleta marca="ctrl.model.marca"></marca-atleta> 

		<label for="porcentage">{{ ctrl.model.porcentage }}%</label></br>

		<button class="btn btn-primary btn-lg" ng-click="ctrl.getMarca()">
        Obtener %
    	</button>		

		<table class="table">
			<thead>
				<tr>
					<th>Sexo</th>
					<th>Edad</th>
				</tr>
			</thead>			
			<tbody>			
				<tr ng-repeat="marca in ctrl.marcas">
					<td>{{marca.sex}}</td>
					<td>{{marca.age}}</td>				
				</tr>		
			<tbody>
		</table>
		
	</div>
</body>
</html>